body {
  margin: 0;
  background-color: var(--background-color);
}

.calculator-grid {
  display: grid;
  justify-content: center;
  margin-top: 0.5rem;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}

.span-two {
  grid-column: span 2;
}

.span-four {
  grid-column: 1 / -1;
}

.button-base {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: var(--secondary-text);
}

.button-base:hover {
  background-color: lightgoldenrodyellow;
}

.button-base:focus {
  background-color: burlywood;
}
