.button-base {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, 0.75);
}

.button-base:hover {
  background-color: lightgoldenrodyellow;
}

.button-base:focus {
  background-color: burlywood;
}
